<style>
body {
  background-color: #B3C4D0;
}
</style>



<div *ngIf='cards.length > 0;else noCards'>


  <mat-card style="margin: 20px;margin-right:900px ;" *ngFor="let card of cards">
   <!-- <mat-card-subtitle>{{card.id}}</mat-card-subtitle> -->
    <mat-card-title>{{card.appname}}</mat-card-title>
    <br>
    <mat-card-subtitle>Username: {{card.username}}</mat-card-subtitle>
    <mat-card-subtitle>Email: {{card.email}}</mat-card-subtitle>
    <mat-card-subtitle>Password: {{card.password}}</mat-card-subtitle>
    <mat-card-subtitle>Comments {{card.comments}}</mat-card-subtitle>
    <!-- <mat-card-subtitle>Priority {{card.prio}}</mat-card-subtitle> -->
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="deleteCard($event, card)">Delete</button>
      <button mat-raised-button color="accent" (click)="editCard($event, card)">Edit</button>

    </mat-card-actions>
    <mat-card *ngIf="editState && itemToEdit.id == card.id">
      <mat-card-title>Edit mode</mat-card-title>
      <form (ngSubmit)="updateCard(card)">
        <mat-form-field style="margin-left: 100px;">
          <mat-label>username</mat-label>
          <input matInput placeholder="username" [(ngModel)]="card.username" name="username">
          </mat-form-field>

        <mat-form-field style="margin-left: 150px;">
          <mat-label>email</mat-label>
          <input matInput placeholder="email" [(ngModel)]="card.email" name="email" >
        </mat-form-field>
        <mat-form-field style="margin-left: 200px;">
          <mat-label>comments</mat-label>
          <input matInput placeholder="comments" [(ngModel)]="card.comments" name="comments" >
        </mat-form-field>
        <br>
        <mat-form-field style="margin-left: 100px;">
          <mat-label>password</mat-label>
          <input matInput placeholder="password" [(ngModel)]="card.password" name="password" >
        </mat-form-field>
        <mat-form-field style="margin-left: 150px;">
          <mat-label>Application Name</mat-label>
          <input matInput placeholder="Application name" [(ngModel)]="card.appname" name="appname" >
        </mat-form-field>
        <mat-label style="margin-left: 5px;">Priority</mat-label>
        <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1"  max="100000" [(ngModel)]="card.prio"></mat-slider>

        <button mat-raised-button style="margin-left: 125px;margin-bottom: 20px;" color="accent" (click)="updateCard($event, card)" >submit</button>
        <button mat-raised-button color="accent" style="margin-left: 5px;" (click)="clearState($event, card)">Close</button>
      </form>
    </mat-card>
  </mat-card>
  </div>



  <ng-template #noCards>
    <hr>
    <h5>You have no cards, use the form above to add your first card.</h5>
  </ng-template>
